*{
    margin: 0;
    padding: 0;
}

svg{
    display: inline-block;
    fill: currentColor;
    vertical-align: top;
}

input:focus{
    outline: 0;
}

body{
    font-family: "Merriweather";
    background: #f5f5f5;
    cursor: default;
}

.main{
    padding: 4em;
}

.top{
    font-weight: bold;
    font-size: 2em;
}

.top svg{
    width: 1.5em;
    height: 1.5em;
    margin-top: -.2em;
}

.search{
    margin: 2em 0 1em;
    position: relative;
}

.search svg{
    pointer-events: none;
    position: absolute;
    width: 1.75em;
    height: 1.75em;
    top: 50%;
    left: .75em;
    transform: translate(0, -50%);
}

.search input{
    font-family: inherit;
    font-size: 1.2em;
    padding: .5em .5em .5em 2.5em;
    border: none;
    background: #fff;
    box-shadow: 0 0 1em rgba(0, 0, 0, .01);
    border-radius: 1em;
    width: 30em;
    box-sizing: border-box;
}

.collections,
.subcollection .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.collections .no-results{
    font-size: 1em;
    margin-top: 1em;
}

.collections .collection,
.subcollection .collection{
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .01);
    opacity: 0;
    transition: opacity .3s ease;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
}

.collections .collection.show,
.subcollection .collection.show{
    opacity: 1;
}

.collections .collection:nth-of-type(3n),
.subcollection .collection:nth-of-type(3n){
    margin-right: 0;
}

.collection img{
    display: block;
    margin: auto;
    max-height: 9em;
    margin-bottom: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .1);
    border-radius: .5em;
}

.collection .details{
    display: inline-block;
    vertical-align: top;
}

.details h1{
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: .35em;
}

.details p{
    margin: .25em 0;
}

.details p svg{
    width: 1em;
    height: 1em;
    margin-right: .5em;
    vertical-align: middle;
    margin-top: -.2em;
}

.more{
    border-radius: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .01);
    background: #fff;
    font-size: 1.2em;
    font-weight: bold;
    display: inline-block;
    padding: .5em;
    cursor: pointer;
    margin-top: 1em;
}

.more svg{
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-top: -.2em;
    margin-right: .5em;
}

svg.defs{
    display: none;
}

.subcollection .list{
    margin-top: 2em;
}

.subcollection .image{
    max-height: 10em;
    margin-right: 1em;
    box-shadow: 0 0 1em rgba(0, 0, 0, .25);
    border-radius: .75em;
}

.subcollection .image,
.subcollection .details{
    display: inline-block;
    vertical-align: middle;
}

.return{
    margin: 2em 0;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
}

.return svg{
    width: 1.5em;
    height: 1.5em;
    margin-top: -.25em;
    margin-right: .5em;
}

.subcollection .collection{
    cursor: default;
}

.collection.sub-search{
    background: #b3e5fc;
}

@media only screen and (max-width: 1000px) {
    .main{
        padding: 2em;
    }

    .top{
        font-size: 1.25em;
    }

    .search input{
        width: 100%;
    }

    .collections,
    .subcollection .list{
        display: block;
    }

    .collections .collection,
    .subcollection .collection{
        width: 100%;
        margin-bottom: .5em;
        padding: .75em;
    }

    .details h1{
        font-size: 1.2em;
    }

    .details p{
        font-size: .85em;
    }

    .more{
        font-size: 1em;
    }

    .subcollection .image,
    .subcollection .details{
        display: inline-block;
    }

    .subcollection .details{
        width: 100%;
        margin-top: 1em;
    }

    .subcollection{
        text-align: center;
    }
}